@import "../../styles/mixins";
@import "../../styles/fonts";
@import "../../styles/variables";


.Signup-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: $fontLato;

}


.Signup-box-select {
  margin: 30px;
  z-index: 100;
  font-size: 15px;

}