@import "../../styles/mixins";
@import "../../styles/fonts";
@import "../../styles/variables";


.App-header {
  background-color: #dbdbdb;
  min-height: 100vh;
  font-size: 24px;
  color: #000000;
  font-family: $fontLato;
  text-align: center;

  h1 {
    font-size: 2em;
    font-weight: 300;

  }

  p {
    font-weight: 300;

  }
}

.App-link {
  color: #61dafb;
}

.App-logo {
  height: 100px;
  display: flex;
  justify-content: center;
  background-color: #ffffff;

  .App-logo-img {
    width: 233px;
  }
}

.App-slider-img {
  width: 100%;
  height: auto;
}


