@import "../../styles/mixins";
@import "../../styles/fonts";
@import "../../styles/variables";

@include desktop {

  .App-header {
    background-color: #dbdbdb;
    font-family: $fontLato;
    font-weight: 400;


    h1 {
      margin: 10px;
      font-size: 1.5em;
      font-weight: 300;

    }

}


  .App-logo {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    background-color: #ffffff;
    padding: 10px 0 10px 50px;

    .App-logo-img {
      width: 190px;
    }


  }

  .App-slider {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

  }

  .App-slider-img {
    width: 600px;
    height: auto;
  }




}

@include tablet {
  .App-header {
    background-color: #dbdbdb;
  }

}


